@using RoamAI.Models.Entities
@model Trip

<div class="container">


        <div class="row mt-3">

            <p class="h1 ms-3 mb-3 border-bottom border-success">@Model.Country -  @Model.City</p>

            <div class="col-6 col-sm-5">



                <ul class="list-unstyled fs-5 mt-3">

                    <li class="mt-2"><b>Gidiş Tarihi:</b> @Model.StartDate</li>
                    <li class="mt-2"><b>Dönüş Tarihi:</b> @Model.EndDate</li>
                    <li class="mt-2"><b>Kalınacak Gün Sayısı:</b> @Model.DayCountToStay</li>
                    <li class="mt-2"><b>Gezi İçeriği:</b>%@Model.CulturalPercentage Kültürel, %@Model.EntertainmantPercentage Eğlence, %@Model.FoodPercentage Gastrolojik</li>
                    <li class="mt-2"><b>Şehir Açıklaması:</b> @Model.Description</li>


                </ul>

                <div class="mb-3 mt-3">

                    <h5>Lokasyonlar</h5>
                    @foreach (var Location in Model.Locations)
                    {
                        <div class="mt-2 p-2 border-success border rounded">

                            <h5 class="border-bottom">@Location.LocationName</h5>

                            <p>@Location.Coordinates</p>




                        </div>

                    }
                </div>

                

            </div>

        </div>
    }

</div>
